@import "tailwindcss";

@theme {
  /* --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold"; */
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  /*  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd; */
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility b1 {
  @apply border border-indigo-600;
}

@utility b2 {
  @apply border border-green-600;
}

@utility b3 {
  @apply border border-red-600;
}

/* @layer utilities {
  .clip-preloader {
    @apply clip-path: poligon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
} */

@layer components {
  header {
    @apply w-full bg-black fixed;
    nav {
      @apply container;
    }
  }
  #hero {
    @apply col-center lg:h-[420px] bg-cyan-950;

    h2 {
      @apply text-white text-4xl font-semibold uppercase;
    }

    h3 {
      @apply text-white text-2xl;
    }
  }

  #gsap-header {
    @apply h-screen relative overflow-hidden w-full;
    .star {
      @apply absolute w-20;
    }
    .hero-bg {
      @apply -z-[1] absolute w-full h-full left-0 right-0 object-cover;
    }
    .hero-img {
      @apply absolute left-0 bottom-0 w-80;
    }

    h2 {
      @apply text-white text-5xl;
    }

    h3 {
      @apply text-white text-3xl;
    }
  }

  #svg-filters-section {
    @apply bg-gray-500 px-[240px];

    h2 {
      @apply text-white text-5xl;
    }

    #object,
    img {
      @apply block text-center;
    }

    /* .svgs {
      filter: url(#svg);
    } */

    #object {
      @apply rounded-[50%] w-[200px] h-[200px] border-8 border-cyan-600;
    }
  }

  #scroll-cards {
    @apply bg-gray-500 py-10 lg:py-20 min-h-screen;

    .wrapper {
      @apply container mx-auto;

      h2 {
        @apply text-white text-6xl;
      }

      .card-list {
        @apply flex flex-col gap-6 mt-12 relative;
      }

      .card {
        @apply p-6 rounded-2xl h-[50vh] absolute border;

        h2 {
          @apply text-black text-4xl;
        }

        p {
          @apply text-xl mt-6;
        }
      }
    }
  }
  #map {
    @apply h-fit;
  }

  #showcase {
    @apply bg-cyan-100;
    .media {
      @apply relative;
    }
    .mask {
      @apply absolute h-full top-0;

      img {
        @apply h-full scale-150;
      }
    }

    .content {
      @apply relative bg-black  text-gray-400 text-xl lg:opacity-0;

      .wrapper {
        @apply container px-6 py-10 mx-auto flex flex-col lg:flex-row gap-10 justify-center;
      }

      h2 {
        @apply font-semibold text-3xl lg:text-6xl text-white;
      }

      h3 {
        @apply font-semibold text-3xl lg:text-6xl text-lime-600;
      }

      h4 {
        @apply font-semibold text-2xl lg:text-4xl text-lime-600;
      }
    }
  }

  #preloader {
    @apply fixed top-0 left-0 w-full h-svh bg-black overflow-hidden z-[2];
    .progress-bar {
      @apply absolute top-0 left-0 w-full h-2 bg-amber-500 transform-[scaleX(0)] origin-left will-change-transform;
    }
    .preloader-images {
      @apply absolute top-[45%] left-[50%] translate-[-50%] w-100 h-100 overflow-hidden;
    }
    img {
      @apply w-full h-full object-cover border-8 border-amber-500;
    }
  }
}
